<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaximumBlockSize" value="2097152"/>
    <add key="MaximumBoundedCapacity" value="128"/>
    <add key="MaximumConcurrency" value="256"/>
    <add key="SingleThreaded" value="false"/>
  </appSettings>
</configuration>
